---
http_interactions:
- request:
    method: get
    uri: https://testbedapp.giftbit.com/papi/v1/campaign
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJTSEEyNTYifQ==.TFdWYU5VTVhzK3JFaVhHT2p5VDRHNFRsUk1ybnk2V2E4TDNDSW5meEdXdTVERUJNeHlDTEU1K216Qk1hb3Q4QlZaTVJvWndjR2ZoS01xc3gzdnZMUHdQckN1Z0kreG9rYVF3c1JjUjNkNlNLVmROQTlJb0hvMmpHdkx2REh3NXE=.cu7N3bPxGg8fPxFsIUcjyOISwn+29YpB0l7YDHwkMDg=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Tue, 14 Feb 2017 19:42:00 GMT
    body:
      encoding: UTF-8
      string: '{"info":{"code":"INFO_CAMPAIGN_RETRIEVED","name":"Campaign Retrieved","message":"A
        campaign or list of campaigns has been retrieved."},"campaigns":[{"message":"Thank
        you for being an awesome person","subject":"Present from Community Rewards","contacts":[{"email":"sean@modernmsg.com","firstname":"Sean","lastname":"Linsley"}],"marketplace_gifts":[{"price":5000,"id":1}],"status":"API_CREATING","uuid":"5874c61b12cf41ea88d085e2e5d0bc3c","suppress_default_greeting":false,"delivery_type":"GIFTBIT_EMAIL","expiry":"2018-02-14","fees":{"cost_entries":[{"percentage":0,"fee_type":"PREFUND_GIFT_COST","amount_in_cents":5000,"currency":"USD","tax_type":"NOTAX","tax_in_cents":0,"number_of_gifts":1,"fee_per_gift_in_cents":5000},{"percentage":0.00,"fee_type":"BREAKAGE_PERCENTAGE","amount_in_cents":0,"currency":"USD","tax_type":"NOTAX","tax_in_cents":null,"number_of_gifts":1,"fee_per_gift_in_cents":0}],"subtotal_in_cents":5000,"tax_in_cents":0,"tax_type":"NOTAX","total_in_cents":5000},"id":"GiftbitGift1487101313"},{"message":"Thank
        you for being an awesome person","subject":"Present from Community Rewards","contacts":[{"email":"sean@modernmsg.com","firstname":"Sean","lastname":"Linsley"}],"marketplace_gifts":[{"price":5000,"id":1}],"status":"CAMPAIGN_CREATED","uuid":"61ba350394464daa9f15ec7a6d2cf916","suppress_default_greeting":false,"delivery_type":"GIFTBIT_EMAIL","expiry":"2018-02-14","fees":{"cost_entries":[{"percentage":0,"fee_type":"PREFUND_GIFT_COST","amou[...]
