---
http_interactions:
- request:
    method: get
    uri: https://testbedapp.giftbit.com/papi/v1/gifts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJTSEEyNTYifQ==.TFdWYU5VTVhzK3JFaVhHT2p5VDRHNFRsUk1ybnk2V2E4TDNDSW5meEdXdTVERUJNeHlDTEU1K216Qk1hb3Q4QlZaTVJvWndjR2ZoS01xc3gzdnZMUHdQckN1Z0kreG9rYVF3c1JjUjNkNlNLVmROQTlJb0hvMmpHdkx2REh3NXE=.cu7N3bPxGg8fPxFsIUcjyOISwn+29YpB0l7YDHwkMDg=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Tue, 14 Feb 2017 19:42:06 GMT
    body:
      encoding: UTF-8
      string: '{"gifts":[{"uuid":"3818f239d4644465ab75a72c49533563","campaign_uuid":"61ba350394464daa9f15ec7a6d2cf916","delivery_status":"DELIVERED","status":"SENT_AND_REDEEMABLE","management_dashboard_link":"http://testbedapp.giftbit.com/campaign/campaignInfo?uuid=61ba350394464daa9f15ec7a6d2cf916&gift_uuid=3818f239d4644465ab75a72c49533563","redelivery_count":0,"recipient_email":"sean@modernmsg.com","campaign_id":"GiftbitGift1487101289","recipient_name":"Sean","price_in_cents":5000,"marketplacegift_id":"1","created_date":"2017-02-14
        11:41:44","delivery_date":"2017-02-14 11:41:47"},{"uuid":"91ab8e093fac4710ab7c628d8a81d419","campaign_uuid":"76c82bb082c949fbb71effa0c84a270a","delivery_status":"DELIVERED","status":"SENT_AND_REDEEMABLE","management_dashboard_link":"http://testbedapp.giftbit.com/campaign/campaignInfo?uuid=76c82bb082c949fbb71effa0c84a270a&gift_uuid=91ab8e093fac4710ab7c628d8a81d419","redelivery_count":1,"recipient_email":"sean@modernmsg.com","campaign_id":"GiftbitGift1487096028","recipient_name":"Sean","price_in_cents":5000,"marketplacegif[...]
