---
http_interactions:
- request:
    method: get
    uri: https://testbedapp.giftbit.com/papi/v1/marketplace/regions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJTSEEyNTYifQ==.TFdWYU5VTVhzK3JFaVhHT2p5VDRHNFRsUk1ybnk2V2E4TDNDSW5meEdXdTVERUJNeHlDTEU1K216Qk1hb3Q4QlZaTVJvWndjR2ZoS01xc3gzdnZMUHdQckN1Z0kreG9rYVF3c1JjUjNkNlNLVmROQTlJb0hvMmpHdkx2REh3NXE=.cu7N3bPxGg8fPxFsIUcjyOISwn+29YpB0l7YDHwkMDg=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Tue, 14 Feb 2017 19:41:58 GMT
    body:
      encoding: UTF-8
      string: '{"regions":[{"id":1,"name":"Canada","image_url":"https://s3-us-west-2.amazonaws.com/staticimageskiind/flags/CA@3x.png"},{"id":2,"name":"USA","image_url":"https://s3-us-west-2.amazonaws.com/staticimageskiind/flags/US@3x.png"},{"id":3,"name":"Global","image_url":"https://s3-us-west-2.amazonaws.com/staticimageskiind/flags/GLBL@3x.png"},{"id":4,"name":"Australia","image_url":"https://s3-us-west-2.amazonaws.com/staticimageskiind/flags/AU@3x.png"}],"info":{"code":"INFO_MARKETPLACE_RETRIEVED_REGIONS","name":"Marketplace
        Regions Retrieved","message":"A list of marketplace regions has been retrieved."}}'
  recorded_at: Tue, 14 Feb 2017 19:41:58 GMT
recorded_with: VCR 3.0.3
