---
http_interactions:
- request:
    method: post
    uri: https://testbedapp.giftbit.com/papi/v1/campaign
    body:
      encoding: UTF-8
      string: '{"id":"GiftbitGift1487103627","message":"Thank you for being an awesome
        person","subject":"Present from Community Rewards","contacts":[{"firstname":"Sean","lastname":"Linsley","email":"sean@modernmsg.com"}],"marketplace_gifts":[{"id":1,"price_in_cents":5000}],"expiry":"2018-02-14"}'
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJTSEEyNTYifQ==.TFdWYU5VTVhzK3JFaVhHT2p5VDRHNFRsUk1ybnk2V2E4TDNDSW5meEdXdTVERUJNeHlDTEU1K216Qk1hb3Q4QlZaTVJvWndjR2ZoS01xc3gzdnZMUHdQckN1Z0kreG9rYVF3c1JjUjNkNlNLVmROQTlJb0hvMmpHdkx2REh3NXE=.cu7N3bPxGg8fPxFsIUcjyOISwn+29YpB0l7YDHwkMDg=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"info":{"code":"INFO_CAMPAIGN_CREATED","name":"Campaign Created","message":"Campaign
        creation has begun."},"status":200,"campaign":{"message":"Thank you for being
        an awesome person","subject":"Present from Community Rewards","contacts":[{"email":"sean@modernmsg.com","firstname":"Sean","added_succesfully":true,"lastname":"Linsley","message":"Existing
        contact"}],"marketplace_gifts":[{"price":5000,"id":1}],"status":"API_CREATING","uuid":"50076d5cfb15442392b62e2b336416f0","suppress_default_greeting":false,"delivery_type":"GIFTBIT_EMAIL","expiry":"2018-02-14","contacts_success_count":1,"contacts_failure_count":0,"fees":{"cost_entries":[{"percentage":0,"fee_type":"PREFUND_GIFT_COST","amount_in_cents":5000,"currency":"USD","tax_type":"NOTAX","tax_in_cents":0,"number_of_gifts":1,"fee_per_gift_in_cents":5000},{"percentage":0.000,"fee_type":"BREAKAGE_PERCENTAGE","amount_in_cents":0,"currency":"USD","tax_type":"NOTAX","tax_in_cents":0,"number_of_gifts":1,"fee_per_gift_in_cents":0}],"subtotal_in_cents":5000,"tax_in_cents":0,"tax_type":"NOTAX","total_in_cents":5000},"id":"GiftbitGift1487103627"}}'
  recorded_at: Tue, 14 Feb 2017 20:20:28 GMT
- request:
    method: get
    uri: https://testbedapp.giftbit.com/papi/v1/gifts?campaign_uuid=50076d5cfb15442392b62e2b336416f0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJTSEEyNTYifQ==.TFdWYU5VTVhzK3JFaVhHT2p5VDRHNFRsUk1ybnk2V2E4TDNDSW5meEdXdTVERUJNeHlDTEU1K216Qk1hb3Q4QlZaTVJvWndjR2ZoS01xc3gzdnZMUHdQckN1Z0kreG9rYVF3c1JjUjNkNlNLVmROQTlJb0hvMmpHdkx2REh3NXE=.cu7N3bPxGg8fPxFsIUcjyOISwn+29YpB0l7YDHwkMDg=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Tue, 14 Feb 2017 20:20:52 GMT
    body:
      encoding: UTF-8
      string: '{"gifts":[{"uuid":"ed84d81c019542ee8dd64a9d74c4944b","campaign_uuid":"50076d5cfb15442392b62e2b336416f0","delivery_status":"DELIVERED","status":"SENT_AND_REDEEMABLE","management_dashboard_link":"http://testbedapp.giftbit.com/campaign/campaignInfo?uuid=50076d5cfb15442392b62e2b336416f0&gift_uuid=ed84d81c019542ee8dd64a9d74c4944b","redelivery_count":0,"recipient_email":"sean@modernmsg.com","campaign_id":"GiftbitGift1487103627","recipient_name":"Sean","price_in_cents":5000,"marketplacegift_id":"1","created_date":"2017-02-14
        12:20:47","delivery_date":"2017-02-14 12:20:50"}],"number_of_results":1,"limit":20,"offset":0,"total_count":1,"info":{"code":"INFO_GIFTS","name":"Gift
        information retrieved","message":"Returned gifts matching your search parameters."},"status":200}'
  recorded_at: Tue, 14 Feb 2017 20:20:52 GMT
- request:
    method: put
    uri: https://testbedapp.giftbit.com/papi/v1/gifts/ed84d81c019542ee8dd64a9d74c4944b
    body:
      encoding: UTF-8
      string: '{"resend":true}'
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJTSEEyNTYifQ==.TFdWYU5VTVhzK3JFaVhHT2p5VDRHNFRsUk1ybnk2V2E4TDNDSW5meEdXdTVERUJNeHlDTEU1K216Qk1hb3Q4QlZaTVJvWndjR2ZoS01xc3gzdnZMUHdQckN1Z0kreG9rYVF3c1JjUjNkNlNLVmROQTlJb0hvMmpHdkx2REh3NXE=.cu7N3bPxGg8fPxFsIUcjyOISwn+29YpB0l7YDHwkMDg=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"gift":{"uuid":"ed84d81c019542ee8dd64a9d74c4944b","campaign_uuid":"50076d5cfb15442392b62e2b336416f0","delivery_status":"DELIVERED","status":"SENT_AND_REDEEMABLE","management_dashboard_link":"http://testbedapp.giftbit.com/campaign/campaignInfo?uuid=50076d5cfb15442392b62e2b336416f0&gift_uuid=ed84d81c019542ee8dd64a9d74c4944b","redelivery_count":1,"recipient_email":"sean@modernmsg.com","campaign_id":"GiftbitGift1487103627","recipient_name":"Sean","price_in_cents":5000,"marketplacegift_id":"1","created_date":"2017-02-14
        12:20:47","delivery_date":"2017-02-14 12:20:50"},"info":{"code":"INFO_GIFTS_RESENT","name":"Gift
        resent","message":"The gift has been resent."},"status":200}'
  recorded_at: Tue, 14 Feb 2017 20:20:53 GMT
recorded_with: VCR 3.0.3
